* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.post-creation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  gap: 1rem;
  padding: 1rem;
  border: 5px solid #293dc1;
  border-radius: 8px;
  font-family: sans-serif;
  color: #333;
}
.post-creation span {
  margin-left: 600px;
}
.post-creation h4 {
  padding-bottom: 20px;
}

.post-creation input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
.post-creation textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
.post-creation button {
  background-color: #293dc1;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.post-creation button:hover {
  background-color: #555;
}
.post-creation textarea:hover,
.post-creation input:hover {
  border-color: #293dc1;
}
.close-button {
  cursor: default;
  transition: 500ms;
  font-weight: 700;
}
.close-button:hover {
  color: rgb(201, 39, 39);
}
