* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.auth-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.auth-page-name {
  background-color: rgb(106, 106, 242);
  padding: 24px;
  text-align: left;
  color: whitesmoke;
}

.form-login {
  margin: 0 auto;
  width: 50%;
  padding: 64px 35px;
}

.form-auth {
  margin: 0 auto;
}
.auth-page-form {
  margin: 0 auto;
  width: 20%;

  padding-top: 12px;
  padding-bottom: 12px;
}
.form {
  padding-top: 10px;
  padding-bottom: 10px;
}
.button-form {
  width: 100px;
  padding: 5px;
  margin: 0 auto;
}
.form-login-text {
  font-size: 30px;
  font-weight: 500;
  padding-right: 50px;
}
.text2 {
  padding-right: 40px;
  font-size: 15px;
}
.text3 {
  text-decoration: none;
}
